.label {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.label-text {
  color: var(--text-1);
  fill: var(--text-1);
}

.label.cell {
  line-height: 1;
}

.label-info-left {
  padding: 0 0 0 3px;
}
.label-info-right {
  text-align: right;
  padding: 0 3px 0 0;
}

.label-icon-left {
  text-align: center;
  width: auto;
}
.label-icon-right {
  text-align: right;
  width: auto;
}

.label-link {
  color: rgb(var(--functional-blue));
  fill: rgb(var(--functional-blue));
  cursor: pointer;
}

.label-link:hover {
  text-decoration: underline;
}

.label-border {
  border-radius: 3px;
  padding: 8px;
  vertical-align: middle;
  min-height: 35px;
  background-color: rgba(var(--base-4), 1);
  border: 1px solid rgba(var(--neutral-1), 0.2);
}
