.demo {
  color: var(--text-1);
  fill: var(--text-1);
  background-color: rgb(var(--base-0));
  box-sizing: border-box;
  border: 1px solid rgba(var(--neutral-1), 0.2);
  border-radius: 5px;
}

.demo .login-modal {
  position: relative;
  height: auto;
}

.demo .sidebar {
  position: relative;
  height: auto;
}